<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>List</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light">
        <div class="container">
            <a href="/" class="navbar-brand mb-0 h1">
                Home
            </a>

            <button 
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            class="navbar-toggler"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="./storefront" class="nav-link active">
                            <span>Store Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./table" class="nav-link active">
                            <span>Table Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./list" class="nav-link active">
                            <span>List Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./video" class="nav-link active">
                            <span>Video Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./audio" class="nav-link active">
                            <span>Audio Demo</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="main-content">
        <H1>Professional Greeting</H1>
        <P>Welcome to the &lt;List&gt; page. </P>
        <H2>Introducion of me</H2>
        <p>Hi, I'm Cheuk Lung. I'm a CPA student. Student ID: 149507212</p>
        <br>
        <H2>Let me show you nest list in HTML</H2>
        <H3>Health Food</H3>
        <ol>
            <li>Water</li>
                <ul>
                    <li>Drink 8 to 12 cups of water daily.</li>
                </ul>
            <li>Dark Green Vegetables</li>
                <ul>
                    <li>Eat at least three to four times a week</li>
                    <li>Good options include broccoli, peppers, brussel sprouts and leafy greens like kale and spinach.</li>
                </ul>
            <li>Whole Grains</li>
                <ul>
                    <li>Eat at least two or three times daily</li>
                    <li>whole wheat flour, rye, oatmeal, barley, amaranth, quinoa or a multigrain</li>
                </ul>
            <li>Beans and Lentils</li>
                <ul>
                    <li>Eat a bean-based meal at least once a week</li>
                    <li>Try to add legumes, including beans and lentils, to soups, stews, casseroles, salads and dips or eat them plain</li>
                </ul>
            <li>Fish</li>
                <ul>
                    <li>Eat two to three serving of fish a week</li>
                    <li>A serving consists of 3 to 4 ounces of cooked fish</li>
                    <li>Good choices are salmon, trout, herring, bluefish, sardines and tuna.</li> 
                </ul>
            <li>Berries</li>
                <ul>
                    <li>Include two to four servings of fruit in your diet each day</li>
                    <li>eat berries such as raspberries, blueberries, blackberries and strawberries.</li>
                </ul>
        </ol>
    </main>

</body>
</html>