<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Store</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css">
  </head>
  <body>

    <nav class="navbar fixed-top navbar-expand-sm navbar-light">
        <div class="container">
            <a href="/" class="navbar-brand mb-0 h1">
                Home
            </a>

            <button 
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            class="navbar-toggler"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="./storefront" class="nav-link active">
                            <span>Store Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./table" class="nav-link active">
                            <span>Table Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./list" class="nav-link active">
                            <span>List Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./video" class="nav-link active">
                            <span>Video Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./audio" class="nav-link active">
                            <span>Audio Demo</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="main-content">

        <h1>Freedom Hot kettle's Coffee Beans</h1>
        <p>
            My first cup of filter coffee was tasted in Hong Kong. Now every cup of coffee makes me
            remember the days in my home town.
        </p>
        <p>
            Welcome to explore your taste with Hot kettle. Hope you could cherish the memories like me.
        </p>
        <h2>Equipment</h2>
        <div class="product_cards">
            <div class="card">
                <div class="img_container">
                    <img src="/img/v60_plastic.jpg">
                </div>
                <div class="info">
                    <h3 class="name">   
                        Hario V60-02 Dripper (Plastic)
                    </h3>
                    <p class="card_description">
                        Classical Dripper for pullover coffee!
                    </p>
                    <span class="price">
                        CA$10.00
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img_container">
                    <img src="/img/v60_glass.jpg">
                </div>
                <div class="info">
                    <h3 class="name">   
                        Hario V60-02 Dripper (Glass)
                    </h3>
                    <p class="card_description">
                        For those who want a clear V60 dripper, but without the plastic
                    </p>
                    <span class="price">
                        CA$30.00
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img_container">
                    <img src="/img/filter_white.jpg">
                </div>
                <div class="info">
                    <h3 class="name">   
                        Hario V60-02 filter (White 100ea)
                    </h3>
                    <p class="card_description">
                        Paper filter for Hario V60-02
                    </p>
                    <span class="price">
                        CA$9.00
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img_container">
                    <img src="/img/LIHKG.jpg">
                </div>
                <div class="info">
                    <h3 class="name">   
                        Lihkg
                    </h3>
                    <p class="card_description">
                        300ml Mug with pig and dog paint
                    </p>
                    <span class="price">
                        CA$6.00
                    </span>
                </div>
            </div>
        </div>
        <h2>Dark Roast</h2>
        <div class="product_cards">
            <div class="card">
                <div class="img_container">
                    <img src="/img/demo.jpg" alt="waferboard@flickr">
                </div>
                <div class="info">
                    <h3 class="name">
                        Brave
                    </h3>
                    <p class="card_description">
                        Origin: Tibet <br>
                        Weight: 300g <br>
                        Notes: Peanut butter, Cinnamon <br>
                    </p>
                    <span class="price">
                        CA$22.00
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img_container">
                    <img src="/img/demo2.jpg" alt="Albert Lazar@flickr">
                </div>
                <div class="info">
                    <h3 class="name">
                        Endure
                    </h3>
                    <p class="card_description">
                        Origin: Xinjiang <br>
                        Weight: 300g <br>
                        Notes: Smoky, Nutmeg <br>
                    </p>
                    <span class="price">
                        CA$35.00
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img_container">
                    <img src="/img/demo3.jpg" alt="Amanda@flickr">
                </div>
                <div class="info">
                    <h3 class="name">
                        Last Line
                    </h3>
                    <p class="card_description">
                        Origin: Taiwan <br>
                        Weight: 300g <br>
                        Notes: Ashy, Almond, Woody <br>
                    </p>
                    <span class="price">
                        CA$50.00
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img_container">
                    <img src="/img/demo4.jpg" alt="olle svensson@flickr">
                </div>
                <div class="info">
                    <h3 class="name">
                        Travals
                    </h3>
                    <p class="card_description">
                        Origin: Japan <br>
                        Weight: 300g <br>
                        Notes: Honey, Strawberry <br>
                    </p>
                    <span class="price">
                        CA$55.00
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img_container">
                    <img src="/img/demo5.jpg" alt="Nathan Jeffery@flickr">
                </div>
                <div class="info">
                    <h3 class="name">
                        Collapsing
                    </h3>
                    <p class="card_description">
                        Origin: China <br>
                        Weight: 300g <br>
                        Notes: Coconut, Dark Chocolate <br>
                    </p>
                    <span class="price">
                        CA$6.70
                    </span>
                </div>
            </div>
        </div>
        <h2>Medium Roast</h2>
        <div class="product_cards">
            <div class="card">
                <div class="img_container">
                    <img src="/img/demo6.jpg" alt="lovestruck.@flickr">
                </div>
                <div class="info">
                    <h3 class="name">
                        Liberaty
                    </h3>
                    <p class="card_description">
                        Origin: Brazil <br>
                        Weight: 300g <br>
                        Notes: Berries, Praline, Baker's Chocolate <br>
                    </p>
                    <span class="price">
                        CA$15.00
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img_container">
                    <img src="/img/demo.jpg" alt="waferboard@flickr">
                </div>
                <div class="info">
                    <h3 class="name">
                        Light
                    </h3>
                    <p class="card_description">
                        Origin: Ethiopia <br>
                        Weight: 300g <br>
                        Notes: Floral, Stone Fruit, Citrus <br>
                    </p>
                    <span class="price">
                        CA$16.00
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img_container">
                    <img src="/img/demo.jpg" alt="waferboard@flickr">
                </div>
                <div class="info">
                    <h3 class="name">
                        Our Time
                    </h3>
                    <p class="card_description">
                        Origin: Guatemala <br>
                        Weight: 300g <br>
                        Notes: Floral, Citrus, Caramel, Dark Chocolate <br>
                    </p>
                    <span class="price">
                        CA$16.00
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img_container">
                    <img src="/img/demo.jpg" alt="waferboard@flickr">
                </div>
                <div class="info">
                    <h3 class="name">
                        Dawn
                    </h3>
                    <p class="card_description">
                        Origin: Colombia <br>
                        Weight: 300g <br>
                        Notes: Dark Chocolate <br>
                    </p>
                    <span class="price">
                        CA$16.00
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img_container">
                    <img src="/img/demo.jpg" alt="waferboard@flickr">
                </div>
                <div class="info">
                    <h3 class="name">
                        Glory (Decaf)
                    </h3>
                    <p class="card_description">
                        Origin: Colombia <br>
                        Weight: 300g <br>
                        Notes: Mandarin Orange, Almond, Milk Chocolate <br>
                    </p>
                    <span class="price">
                        CA$18.00
                    </span>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>