<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Audio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light">
        <div class="container">
            <a href="/" class="navbar-brand mb-0 h1">
                Home
            </a>

            <button 
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            class="navbar-toggler"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="./storefront" class="nav-link active">
                            <span>Store Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./table" class="nav-link active">
                            <span>Table Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./list" class="nav-link active">
                            <span>List Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./video" class="nav-link active">
                            <span>Video Demo</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./audio" class="nav-link active">
                            <span>Audio Demo</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="main-content">
        <H1>Video</H1>
        <video controls>
            <source src="https://ict.senecacollege.ca/~tanvir.alam/shared/fall-2018/web222/movie.mp4">
        </video>
        <P>This anmial clip is provided by my WEB322 instructor Tanvir Alam.</P>
    </main>



</body>
</html>